---
import Image from '@components/Image.astro';
import DarkDocs from '@img/logo/dark/docs.svg';
import DarkSurreal from '@img/logo/dark/surrealdb.svg';
import LightDocs from '@img/logo/light/docs.svg';
import LightSurreal from '@img/logo/light/surrealdb.svg';
import Search from '@src/components/Search.astro';
import { Icon } from 'astro-icon/components';
import MobileNav from './MobileNav.astro';
import NavItem from './NavItem.astro';
import { navItems, socialLinks } from './navItems';
---

<style>
    div:has(~ div .flag-sidebar-container) .sidebar-toggle {
        @apply max-lg:block;
    }
</style>

<input id="mobile-nav-toggle" type="checkbox" class="peer hidden" />
<input type="checkbox" id="sidebar-toggle" class="hidden" />
<div class="border-b border-border bg-background">
	<div class="h-14 flex items-center">
		<div class="lg:w-[350px] flex-shrink-0 pl-2 sm:pl-6 lg:pl-8">
			<div class="flex items-center gap-3 pr-2">
				<label
					for="sidebar-toggle"
					class="hidden rounded-lg p-2 text-text/70 transition-colors hover:bg-bwr/10 cursor-pointer sidebar-toggle"
				>
					<Icon name="fa6-solid:list" class="w-5 h-5" />
				</label>
				<a href="/">
					<Image
						class="block h-6"
						alt="SurrealDB"
						width={400}
						src={{
							light: LightSurreal,
							dark: DarkSurreal,
						}}
					/>
				</a>
				<div class="self-stretch border-border border-r" />
				<a href={`${import.meta.env.BASE_URL}/surrealdb`}>
					<Image
						class="block h-6"
						alt="SurrealDB Docs Logo"
						width={400}
						src={{
							light: LightDocs,
							dark: DarkDocs,
						}}
					/>
				</a>
			</div>
		</div>
		<div class="flex-1 max-lg:hidden">
			<div class="max-w-[960px] mx-auto px-6">
				<Search isMobile={false} />
			</div>
		</div>
		<div class="flex-1 flex justify-end pr-2 sm:pr-6 lg:pr-8 xl:hidden">
			<label
				for="mobile-nav-toggle"
				class="rounded-lg p-2 text-text/70 transition-colors hover:bg-bwr/10 cursor-pointer"
				aria-label="Open navigation"
			>
				<Icon name="fa6-solid:bars" class="w-5 h-5" />
			</label>
		</div>
		<div class="w-[350px] hidden xl:flex pr-8 justify-end">
			<a
				href="https://app.surrealdb.com/signin"
				class="gradient-button !py-1.5 !text-white"
			>
				Sign in
				<Icon name="fa6-solid:chevron-right" class="w-4 text-xs" />
			</a>
		</div>
	</div>
	<nav class="hidden flex-wrap gap-2 items-stretch px-8 xl:flex">
		{navItems.map((item) => (
			<NavItem href={item.href}>{item.label}</NavItem>
		))}
		<div class="flex-1" />
		<div class="hidden lg:flex gap-4 self-center opacity-80">
			{socialLinks.map((link) => (
				<a href={link.href} aria-label={link.label}>
					<Icon name={link.icon} class="w-4" />
				</a>
			))}
		</div>
	</nav>
</div>
<MobileNav />
