---
import Image from '@components/shared/Image.astro';

interface Props {
    title: string;
    description: string;
    href: string;
    icon: {
        dark: ImageMetadata;
        light: ImageMetadata;
    };
}

const { title, description, href, icon } = Astro.props;
---

<a href={href} class="relative bg-background-secondary rounded-xl aspect-square xs:aspect-video md:aspect-square overflow-hidden flex flex-col justify-end p-4 xs:px-4 xs:py-6 sm:p-8 md:px-3 md:py-4 lg:p-6 xl:gap-2 xl:p-8">
    <Image
        class:list={[
            "absolute top-0 right-0 object-scale-down",
            "w-[calc(6rem+70%)] h-[calc(6rem+70%)] -translate-y-24 translate-x-24",
            "xs:w-[calc(6rem+70%)] xs:h-[calc(6rem+70%)] xs:-translate-y-24 xs:translate-x-36",
            "sm:w-96 sm:h-96 sm:-translate-y-36 sm:translate-x-32",
            "md:w-[calc(6rem+70%)] md:h-[calc(6rem+70%)] md:-translate-y-24 md:translate-x-20",
            "lg:w-72 lg:h-72 lg:-translate-y-24 lg:translate-x-24",
            "xl:w-96 xl:h-96 xl:-translate-y-36 xl:translate-x-32"
        ]}
        src={icon}
        alt={`${title} icon`}
    />
    <h4 class:list={[
        "text-xl xs:text-2xl font-normal",
        "md:text-lg lg:text-2xl xl:text-3xl",
    ]} set:html={title} />
    <p class:list={[
        "text-text/60 font-normal",
        "sm:text-lg",
        "text-sm lg:text-base xl:text-lg",
    ]}>{description}</p>
</div>
