---
import Image, { type Props as ImageProps } from '@components/Image.astro';
import { cn } from '@src/util/tailwind';
import Status from '../shared/Status.astro';
import type { StatusString } from '../shared/types';

type Props = {
    icon?: ImageProps['src'];
    title?: string;
    description?: string;
    status?: StatusString;
    href?: string;
};

const { icon, title, description, status, href } = Astro.props;
const onlyIcon = icon && !title && !description && !status;
---

<style>
    img {
        @apply !rounded-none !mb-0;
    }
</style>

<a
    href={href}
    class={cn(
        "group p-8 rounded-xl space-y-4 border border-transparent hover:border-border !mb-0 overflow-hidden",
        // Transition
        "transition-all duration-300",
        // Background
        "bg-gradient-to-br from-background-secondary/70 to-background-secondary/50",
        "hover:from-background-secondary/90 hover:to-background-secondary/40",
        // Based on variant
        !href ? "!text-text !no-underline" : "!text-text hover:!text-surreal-pink !no-underline",
        onlyIcon && "aspect-square p-4",
        !onlyIcon && "hover:scale-[1.005]"
    )}
>
    <div class='flex items-center justify-between'>
        <h4 class="flex items-center gap-4 !mb-0">
            {icon && <Image src={icon} alt={title ?? "Icon"} class={cn("w-10 min-w-10 transition-transform duration-200", onlyIcon && "group-hover:scale-105")} />}
            {title && <span class="text-lg">{title}</span>}
        </h4>
        {status && <Status status={status} />}
    </div>
    {description && (
        <p class='text-text/50 group-hover:text-text/70 transition-all duration-200 !mb-1'>
            {description}
        </p>
    )}
</a>
