---
import Image, { type Props as ImageProps } from '@components/Image.astro';
import type { StatusString } from '../shared/Status.astro';
import Status from '../shared/Status.astro';

type Props = {
    icon: ImageProps['src'];
    title: string;
    status: StatusString;
    href: string;
};

const { icon, title, status, href } = Astro.props;
---

<style>
    img {
        @apply !rounded-none !mb-0;
    }
</style>

<a href={href} class="bg-background-secondary border border-border !p-8 rounded-xl space-y-4 !mb-0">
    <div class='flex items-center justify-between'>
        <h4 class="flex items-center gap-2 !mb-0">
            <Image src={icon} alt={title} class="w-10" />
            <span class="text-lg">{title}</span>
        </h4>
        <Status status={status} />
    </div>
</a>
