---
import Image from '@src/components/Image.astro';
import EmbedImage from '@assets/img/image/example/embed.png';
import GraphImage from '@assets/img/image/example/graph.png';
import MachineLearningImage from '@assets/img/image/example/machine-learning.png';
import RelationalImage from '@assets/img/image/example/relational.png';
import SearchImage from '@assets/img/image/example/search.png';
import { examplePageConfig } from '@config/pages/example';
import type { CategoryItem } from '@config/pages/example/types';

const categoryImageMap: Record<string, ImageMetadata> = {
    applications: EmbedImage,
    'client libraries': GraphImage,
    'management interfaces': MachineLearningImage,
    'development tools': RelationalImage,
    'deployment tools': SearchImage,
    'docker images': EmbedImage,
    integrations: GraphImage,
    libraries: MachineLearningImage,
    'github actions': RelationalImage,
    'starter kits': SearchImage,
    tutorials: EmbedImage,
    videos: GraphImage,
    projects: MachineLearningImage,
};

interface Props {
    item: CategoryItem;
}

const { item } = Astro.props;
---

<div
	class="border border-border rounded-xl p-8 relative gradient-background-reversed overflow-hidden grid-item"
	data-difficulty={item.difficulty},
	data-lesson-area={item.lesson},
	data-deployment-type={item.deploy}
>
		<div class="absolute right-0 top-0 w-40">
			<!-- changes to src -->
			<Image 
				class=""
				src={EmbedImage}
				alt={item.description || item.text}	
			/>
		</div>
		<p class="pt-40 text-lg font-medium !mb-0.5">
			Graphs
		</p>
		<a class="!mt-0 !text-white text-2xl hover:!text-surreal-pink hover:!no-underline" role="heading" href={item.url} target="_blank">
			{item.text}
		</a>
		<hr class="border-border mt-4 mb-6" role="separator" aria-orientation="horizontal" />
		<div class="grid grid-cols-[auto,1fr] grid-rows-2 gap-x-3 mt-4">
			<div class="size-8 row-span-1 rounded-3xl overflow-hidden">
				<!-- changes to alt -->
				<Image
					src={EmbedImage}
					alt={'Platform'}
				/>
			</div>
			<h4 class="row-start-1 row-end-1 col-start-2 col-end-2 !mb-0 h-min !text-md">SurrealDB</h4>
			<p class="row-start-2 row-end-2 col-start-2 col-end-2 text-sm text-gray-500 !-mt-1 h-min font-thin">
				Engineering team
			</p>
		</div>
		<div class="flex flex-wrap gap-2 mt-4">
			<div class="bg-gradient-to-tl to-[#6F79884D] from-[#6F79881A] py-2 px-4 rounded-full text-xs text-gray-200/80">
				Intermediate
			</div>
			<div class="bg-gradient-to-tl to-[#6F79884D] from-[#6F79881A] py-2 px-4 rounded-full text-xs text-gray-200/80">
				Standard
			</div>
		</div>
</div>