---
import '@src/styles/colors.scss';
import '@src/styles/scrollbar.scss';

import PreviewImage from '@assets/img/social-preview.jpg';
import Icon from '@img/icon/icon.svg';
import Navbar from '@src/components/layout/Navbar/Navbar.astro';
import Analytics from './Analytics.astro';

interface Props {
    title?: string;
    pageTitle?: string;
    description?: string;
    type?: string;
    image?: string;
    rssFeedName?: string;
    navShadowBackground?: boolean;
    navDarkDefault?: boolean;
}

const title =
    Astro.props.title ??
    "SurrealDB | The ultimate multi-model database for tomorrow's applications";
const pageTitle = Astro.props.pageTitle ?? Astro.props.title ?? 'SurrealDB';
const description =
    Astro.props.description ??
    "SurrealDB is the ultimate database for tomorrow's serverless, jamstack, single-page, and traditional applications.";
const type = Astro.props.type ?? 'website';
const image = Astro.props.image ?? PreviewImage.src;
// const banner = 'banner' in Astro.props ? Astro.props.banner : defaultBanner;
const { rssFeedName, navShadowBackground, navDarkDefault } = Astro.props;

const url = new URL(
    `${import.meta.env.SITE}${Astro.url.pathname}`
).href.replace(/\/$/, '');
---

<!doctype html>
<html lang="en" class="scroll-smooth h-full">
    <head>
        <meta charset="utf-8" />
        <title>{pageTitle ?? title}</title>
        <meta name="description" content={description} />
        <meta name="referrer" content="origin-when-cross-origin" />
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5" />

        <link rel="sitemap" href="/sitemap.xml" />
        {
            rssFeedName && (
                <link
                    rel="alternate"
                    type="application/rss+xml"
                    title="SurrealDB"
                    href={`/feed/${rssFeedName}.rss`}
                />
            )
        }

        {/* Icon tags */}
        <link rel="icon" href={Icon.src} type="image/svg+xml" />

        {/* Canonical link tags */}
        <link rel="canonical" href={Astro.url.pathname === '/docs' ? 'https://surrealdb.com/docs/' : url} />
        <meta name="og:url" property="og:url" content={Astro.url.pathname === '/docs' ? 'https://surrealdb.com/docs/' : url} />

        {/* Open Graph meta tags */}
        <meta name="og:title" property="og:title" content={title} />
        <meta name="og:description" property="og:description" content={description} />
        <meta name="og:site_name" property="og:site_name" content="SurrealDB" />
        <meta name="og:type" property="og:type" content={type} />
        <meta name="og:image" property="og:image" content={image} />

        {/* Social Network meta tags */}
        <meta name="twitter:site" property="twitter:site" content="@surrealdb" />
        <meta name="twitter:card" property="twitter:card" content="summary_large_image" />
        <meta name="twitter:domain" property="twitter:domain" content="surrealdb.com" />
        <meta name="twitter:title" property="twitter:title" content={title} />
        <meta name="twitter:description" property="twitter:description" content={description} />
        <meta name="twitter:image" property="twitter:image" content={image} />
        <meta name="twitter:image:src" property="twitter:image:src" content={image} />
        <meta name="twitter:image:alt" property="twitter:image:alt" content={description} />
    </head>
    <body class="bg-background font-sans text-text flex flex-col h-full">
        <Navbar shadowBackground={navShadowBackground} darkDefault={navDarkDefault} />
        <slot />
        <!-- <Footer bgMonochrome={footerBgMonochrome} /> -->
        <style>
            body:has(#sidebar-toggle:checked) {
                @apply !overflow-hidden;
            }

            :global(a) {
                @apply text-text transition-colors duration-300 hover:text-hover;
            }
        </style>

        <Analytics />
    </body>
</html>
