---
import PlaceholderImage from '@assets/img/examples/placeholder.png';
import SurrealDBAuthorImage from '@assets/img/icon/icon.svg';
import EmbedImage from '@assets/img/image/example/embed.png';
import { LAB_IMAGE_MAP } from '@config/pages/labs';
import Image from '@src/components/Image.astro';
import { slug } from '@src/util/doc';
import { cn } from '@src/util/tailwind';
import type { CollectionEntry } from 'astro:content';

const surrealDBAuthor = {
    name: 'SurrealDB',
    role: 'Engineering team',
    image: EmbedImage,
} as const;

interface Props {
    item: CollectionEntry<'labs-items'>['data'];
}

const { item } = Astro.props as Props;

const author = item.author === 'surrealdb' ? surrealDBAuthor : item.author;
const slugified = slug(author.name);
---

<style>
	.grid-item__footer-badge {
		@apply bg-gradient-to-tl to-[#6F79884D] from-[#6F79881A] py-2 px-4 rounded-full text-xs text-bwr;
	}
</style>

<a
	class="flex-col border border-border rounded-xl p-8 relative gradient-background-reversed overflow-hidden grid-item hover:!no-underline hover:scale-[102%]x !transition-all !duration-300 !ease-in-out"
	data-categories={item.category}
	data-topic={item.topics}
	data-filters={item.author === "surrealdb" ? 'surrealdb' : undefined}
	href={item.url}
	style="min-height: 396px;"
>
	<div class="absolute right-0 top-0 w-40">
		<Image
			src={LAB_IMAGE_MAP?.[item.category] || EmbedImage}
			alt={item.category}
			loading="lazy"
		/>
	</div>
	<p class="pt-32 !text-sm !font-medium !mb-0.5">
		<!-- {typeof item.lesson === 'string' ? lessonMap[item.lesson] : item.lesson.map((l) => lessonMap[l]).join(', ')} -->
	</p>
	<h3
		class="!mt-0 mb-6 text-bwr !text-xl line-clamp-2 !leading-none"
		role="heading"
		title={item.title}
		style="max-height: 65px;"
	>
		{item.title}
	</h3>
	<hr class="border-border" role="separator" aria-orientation="horizontal" />
	<div class={cn("flex gap-x-2.5 mt-4")}>
		<div class="size-6 flex row-span-1 rounded-3xl overflow-hidden">
			<!-- changes to alt -->
			<Image
				class="object-cover w-full h-full"
				src={item.author === "surrealdb"
					? SurrealDBAuthorImage
					: `/docs/img/examples/authors/${slugified}.jpg`}
				alt={"Platform"}
				loading="lazy"
				width={100}
				height={100}
				onerror={item.author === "surrealdb"
					? undefined
					: "this.src='/docs/img/examples/placeholder.png'; this.onerror=null;"}
			/>
		</div>
		<div>
			<h4 class="!mb-1 h-min !text-sm !leading-none !text-bwr">
				{author?.name || "Unknown Author"}
			</h4>
			<p class="!text-xs text-gray-500">
				{author?.role}
			</p>
		</div>
	</div>
	<div class="flex flex-wrap gap-2 mt-auto">
		{(item.topics ?? []).map((topic) => (
			<div class="grid-item__footer-badge">{topic}</div>
		))}
	</div>
</a>