---
import type { CollectionEntry } from 'astro:content';
import SurrealDBAuthorImage from '@assets/img/icon/icon.svg';
import EmbedImage from '@assets/img/image/example/embed.png';
import { LABS_TOPICS_MAP, LAB_IMAGE_MAP } from '@config/pages/labs';
import Image from '@src/components/Image.astro';

const surrealDBAuthor = {
    name: 'SurrealDB',
    role: 'Official',
    avatar: '',
} as const;

interface Props {
    item: CollectionEntry<'labs-items'>['data'];
}

const images = LAB_IMAGE_MAP;
const { item } = Astro.props as Props;

const author = item.author === 'surrealdb' ? surrealDBAuthor : item.author;
const category = item.category as keyof typeof images;
---

<style>
	.grid-item__footer-badge {
		@apply bg-gradient-to-tl to-[#6F79884D] from-[#6F79881A] py-1.5 px-2.5 rounded-full text-xs text-bwr;
	}
</style>

<a
	class="h-[424px] flex flex-col border border-border rounded-xl p-8 relative gradient-background-reversed overflow-hidden grid-item hover:!no-underline hover:scale-[102%] !transition-all !duration-300 !ease-in-out group"
	data-categories={item.category}
	data-topics={item.topics.join(",").toLowerCase()}
	data-filters={item.author === "surrealdb" ? 'surrealdb' : undefined}
	title={item.title}
	href={item.url}
>
	<div class="absolute right-0 top-0 w-40 opacity-65 dark:opacity-100">
		<Image
			src={images[category] || EmbedImage}
			alt={item.category}
			loading="lazy"
		/>
	</div>
	<p class="pt-32 text-faint !text-sm !font-medium !mb-0.5">
		{category}
	</p>
	<h3
		class="grid-item-title !mt-0 mb-6 text-bwr !text-xl line-clamp-3 !leading-tight transition-colors group-hover:text-surreal-pink"
		role="heading"
		style="max-height: 76px;"
	>
		{item.title}
	</h3>
	<hr class="border-border" role="separator" aria-orientation="horizontal" />
	<div class="flex flex-wrap gap-2 empty:hidden mt-3">
		{(item.topics ?? []).map((topic) => (
			<div class="grid-item__footer-badge">
				{LABS_TOPICS_MAP[topic.toLowerCase() as keyof typeof LABS_TOPICS_MAP] || topic}
			</div>
		))}
	</div>
	<div class="flex-1" />
	<div class="flex gap-x-2.5 mt-4 items-center">
		{item.author === "surrealdb" ? (
			<div class="size-7 flex row-span-1">
				<Image
					class="object-contain w-full h-full"
					src={SurrealDBAuthorImage}
					alt="SurrealDB"
					loading="lazy"
					width={100}
					height={100}
				/>
			</div>
		) : (
			<div class="size-7 flex row-span-1 rounded-3xl overflow-hidden">
				<Image
					class="object-cover w-full h-full"
					src={`/docs/img/examples/authors/${author.avatar}.jpg`}
					alt={author?.name || "Unknown Author"}
					loading="lazy"
					width={100}
					height={100}
					onerror="this.src='/docs/img/examples/placeholder.png'; this.onerror=null;"
				/>
			</div>
		)}
		<div class="min-w-0">
			<h4 class="!mb-1 h-min !text-sm !leading-none !text-bwr">
				{author?.name || "Unknown Author"}
			</h4>
			<p class="!text-xs text-gray-500 truncate">
				{author?.role}
			</p>
		</div>
	</div>
</a>