---
type Version = `v${number}.${number}.${number}`;

interface Props {
    v: Version;
}

const { v } = Astro.props;

// Regular expression to validate the version format
const versionRegex = /^v\d+\.\d+\.\d+$/;

// Check if the passed version matches the expected format
if (!versionRegex.test(v)) {
    throw new Error(`Error: Version ${v} is not recognized.`);
}
---

<p 
    style={{
        marginTop: '10px',
    }}
>
    <strong>Available since: </strong>
    <code class="version">{v}</code> 
</p>