---
import type { CollectionKey } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Dropdown from '../Dropdown/Dropdown.astro';
import DropdownItem from '../Dropdown/DropdownItem.astro';
import Image from '../Image.astro';
import SidebarItem, {
    type SidebarItem as TSidebarItem,
} from './SidebarItem.astro';
import { metadata } from './metadata';

import DarkSurrealKV from '@img/icon/dark/kv.png';
import DarkSurrealDB from '@img/icon/dark/surrealdb.png';
import DarkSurrealist from '@img/icon/dark/surrealist.png';
import DarkSurrealML from '@img/icon/dark/surrealml.png';
import DarkSurrealQL from '@img/icon/dark/surrealql.png';
import LightCloud from '@img/icon/light/cloud-light.png';
import LightSurrealKV from '@img/icon/light/kv.png';
import LightSurrealML from '@img/icon/light/ml-light.png';
import LightSurrealQL from '@img/icon/light/ql-light.png';
import LightSurrealDB from '@img/icon/light/surrealdb.png';
import LightSurrealist from '@img/icon/light/surrealist-light.png';
import DarkCloud from '@img/image/cloud/surrealcloud.png';

type Props = {
    items: TSidebarItem[];
    collection: CollectionKey;
};

const { items, collection } = Astro.props;
const doc = metadata[collection];
---

<div class="flex flex-col h-full">
    {doc && (
        <div class="flex flex-col p-6 gap-4 border-b border-border">
            <a href={import.meta.env.BASE_URL} class="px-4 flex items-center gap-1.5 text-sm group text-surreal-pink">
                <Icon name="fa6-solid:chevron-left" class="w-1.5 transition-transform group-hover:-translate-x-1" />
                Back to home
            </a>
            <Dropdown>
				<div class="flex items-center gap-4 px-4 py-3 rounded-lg cursor-pointer relative select-none bg-code/75 hover:bg-code">
					<Image src={doc.icon} alt={doc.title} class="h-6 w-auto" />
					<h2 class="text-lg font-medium flex-1">{doc.title}</h2>
					<Icon name="fa6-solid:chevron-down" class="text-text/30 text-lg" />
				</div>
				<div slot="dropdown">
					<DropdownItem
						title="Surreal Cloud"
						icon={{ light: LightCloud, dark: DarkCloud }}
						href="/docs/cloud"
					/>
					<DropdownItem
						title="SurrealDB"
						icon={{ light: LightSurrealDB, dark: DarkSurrealDB }}
						href="/docs/surrealdb"
					/>
					<DropdownItem
						title="Surrealist"
						icon={{ light: LightSurrealist, dark: DarkSurrealist }}
						href="/docs/surrealist"
					/>
					<DropdownItem
						title="SurrealML"
						icon={{ light: LightSurrealML, dark: DarkSurrealML }}
						href="/docs/surrealml"
					/>
					<DropdownItem
						title="SurrealQL"
						icon={{ light: LightSurrealQL, dark: DarkSurrealQL }}
						href="/docs/surrealql"
					/>
					<DropdownItem
						title="SurrealKV"
						icon={{ light: LightSurrealKV, dark: DarkSurrealKV }}
						href="/docs/surrealkv"
					/>
				</div>
            </Dropdown>
        </div>
    )}
    <div class="overflow-y-auto flex-grow pb-8">
        <div class="px-4 lg:px-6 py-6">
            {items.map((item) => (
                <SidebarItem {...item} />
            ))}
        </div>
        {doc?.repo && (
            <div class="mx-6 lg:mx-8 px-2 py-3 border-t border-border">
                <a href={doc.repo.href} class="text-sm flex items-center gap-1.5 text-opacity-50">
                    {doc.repo.title}
                    <Icon name="fa6-solid:arrow-up-right-from-square" class="w-2.5" />
                </a>
            </div>
        )}
    </div>
</div>
