---
import type { CollectionKey } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Image from '../Image.astro';
import SidebarItem, {
    type SidebarItem as TSidebarItem,
} from './SidebarItem.astro';
import { metadata } from './metadata';

type Props = {
    items: TSidebarItem[];
    collection: CollectionKey;
};

const { items, collection } = Astro.props;
const doc = metadata[collection];

console.log(items);
---

<div class="flex flex-col h-full">
    {doc && (
        <div class="flex flex-col py-6 px-8 lg:px-10 gap-4 border-b border-border">
            <a href={import.meta.env.BASE_URL} class="flex items-center gap-1.5 text-sm group text-surreal-pink">
                <Icon name="fa6-solid:chevron-left" class="w-1.5 transition-transform group-hover:-translate-x-1" />
                Back to home
            </a>
            <div class="flex items-center gap-2">
                <Image src={doc.icon} alt={doc.title} class="w-8" />
                <h2 class="text-xl font-medium">{doc.title}</h2>
            </div>
        </div>
    )}
    <div class="overflow-y-auto flex-grow pb-8">
        <div class="px-4 lg:px-6 py-6">
            {items.map((item) => (
                <SidebarItem {...item} />
            ))}
        </div>
        {doc?.repo && (
            <div class="mx-6 lg:mx-8 px-2 py-3 border-t border-border">
                <a href={doc.repo.href} class="text-xs flex items-center gap-1.5 text-opacity-50">
                    {doc.repo.title}
                    <Icon name="fa6-solid:arrow-up-right-from-square" class="w-2.5" />
                </a>
            </div>
        )}
    </div>
</div>
